<h1>Department List </h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Department Name</th>
    <th scope="col">Department Description</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let department of departments; let i = index">
    <th scope="row">{{i+1}}</th>
    <td>{{ department.departmentName }}</td>
    <td>{{ department.description }}</td>
    <td><button routerLink='/department/edit/{{department.departmentId}}'>
      <i class="fa fa-edit" style="font-size:24px"></i>
    </button> |
      <button (click)="deleteDepartment(department.departmentId)">
        <i class="fa fa-trash" style="font-size:24px;color: red"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
