<h1>Update department</h1>
<div *ngIf="showDiv&&isSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong> Update Success!</strong> Congratulation. You have successfully Updated the Department.
  <button (click)="closeDiv()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="showDiv&&!isSuccess" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong> Updation Failed !</strong> Please Try Again.
  <button (click)="closeDiv()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (ngSubmit)= "updateDepartment()" [formGroup]="updateDepartmentForm">
  <input type="hidden" formControlName="departmentId" name="departmentId" class="form-control" id="departmentId">
  <div class="form-group">
    <label>Department Name</label>
    <input type="text" formControlName="departmentName" name="departmentName" class="form-control" id="departmentName"
           placeholder="Enter Department Name">
    <span *ngIf="departmentName.invalid && departmentName.touched" class="error"> Department Name Required</span>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" formControlName="description" name="description" class="form-control" id="description"
           placeholder="Enter Description">
  </div>
  <button [disabled]="updateDepartmentForm.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
