<h1>Create New Student</h1>
<div *ngIf="showDiv&&isSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong> Insertion Success!</strong> Congratulation. You have successfully Inserted the Student.
  <button (click)="closeDiv()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="showDiv&&!isSuccess" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong> Insertion Failed !</strong> Please Try Again.
  <button (click)="closeDiv()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (ngSubmit)= "saveStudent()" [formGroup]="createStudentForm">
  <div class="form-group">
    <label>Student Name</label>
    <input type="text" formControlName="studentName" name="studentName" class="form-control" id="studentName"
           placeholder="Enter Student Name">
    <span *ngIf="studentName.invalid && studentName.touched" class="error"> Department Name Required</span>
  </div>
  <div class="form-group">
    <label>Address</label>
    <input type="text" formControlName="address" name="address" class="form-control" id="address"
           placeholder="Enter Address">
    <span *ngIf="address.invalid && address.touched" class="error"> Address Required</span>
  </div>
  <div class="form-group">
    <label>Department</label>
    <select id="departmentId" name="departmentId" formControlName="departmentId" class="form-control">
      <option *ngFor="let department of departmentList" [value]="department.departmentId" selected>{{department.departmentName}}</option>
    </select>
  </div>
  <button [disabled]="createStudentForm.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
