<h1>Welcome to Angular SMIS Application</h1>
<h3>Crud Operations Are Done Through REST API. Please Run Thymeleaf Project First. That generate spring boot rest Api.
  Please visit this Repository:
  <a href="https://bitbucket.org/rajurana20/smis/src/master/" target="_blank"> SMIS Spring Boot Application</a>
</h3>
