<h1>Create New department</h1>
<div *ngIf="showDiv&&isSuccess" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong> Insertion Success!</strong> Congratulation. You have successfully Inserted the Department.
  <button (click)="closeDiv()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="showDiv&&!isSuccess" class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong> Insertion Failed !</strong> Please Try Again.
  <button (click)="closeDiv()" type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (ngSubmit)= "saveDepartment()" [formGroup]="createDepartmentForm">
  <div class="form-group">
    <label>Department Name</label>
    <input type="text" formControlName="departmentName" name="departmentName" class="form-control" id="departmentName"
           placeholder="Enter Department Name">
    <span *ngIf="departmentName.invalid && departmentName.touched" class="error"> Department Name Required</span>
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" formControlName="description" name="description" class="form-control" id="description"
           placeholder="Enter Description">
  </div>
  <button [disabled]="createDepartmentForm.invalid" type="submit" class="btn btn-primary">Submit</button>
</form>
