<h1>Student List</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Address</th>
    <th scope="col">Department</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of studentList; let i = index">
    <th scope="row">{{i+1}}</th>
    <td>{{ student.studentName }}</td>
    <td>{{ student.address }}</td>
    <td>{{ student.department.departmentName }}</td>
    <td><button routerLink='/student/edit/{{student.studentId}}'>
      <i class="fa fa-edit" style="font-size:24px"></i>
    </button> |
      <button (click)="deleteStudent(student.studentId)">
        <i class="fa fa-trash" style="font-size:24px;color: red"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
